* {
    /* background-color: #212B51; */
    color: #F2BB36;
    font-family: "montserrat";
    font-size: 25px;
}

body {
    background-color: #212B51;
    padding-top: 80px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
}

::selection {
    background: #0d1531d7;
}

h1 {
    font-family: "chippewa-falls";
    font-weight: 500;
    font-size: 50px;
    text-align: center;
    color: aliceblue;
}

h2 {
    font-family: "chippewa-falls";
    font-weight: 500;
    font-size: 44px;
    text-align: center;
    color: aliceblue;
}

/* NAVIGATION */

#nav {
    position: fixed;
    top: 0px;
    left: 0;
    width: 100%;
    padding: 10px;
    background: #212B51;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
}

#nav ul {
    list-style-type: none;
    background: #212B51;
    margin: 15px;
    padding: 0;
}

#nav li {
    display: inline;
}

#nav a {
    font-family: "chippewa-falls";
    margin-right: 20px;
    font-weight: 500;
    font-size: 35px;
    text-decoration: none;
    background: #212B51;
    padding: 10px;
}

.active{
    color: aliceblue;
}

#nav a:hover{
    text-decoration: underline;
}

/* INDEX */

.button {
    background-color: #d99b27;
    font-family: "chippewa-falls";
    font-weight: 500;
    font-size: 35px;
    color: aliceblue;
    padding: 1px 20px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    text-decoration: none;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  .button:hover {
    background-color: #212B51;
  }

/* PORTFOLIO */

.row {
    margin: 0 -5px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
}

.card {
    float: left;
    overflow: hidden;
    background: #fcc744;
    height: 350px;
    width: 20%;
    border-radius: 20px; 
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    position: relative;
}

.card> img {
    height: 250px;
    width: 90%;
    border-radius: 30px; 
    padding: 10px;
}

.card h2 {
    padding: 0px;
    font-size: 30px;
    font-weight: bold;
    color: #212B51;
}

/* To stretch the link on top of the card div */
.card-link {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
}

/* CONTACT */

#contact {
    background-color: #212B51;
}

label {
    color: aliceblue;
    font-family: "chippewa-falls";
    font-weight: 500;
    font-size: 35px;
} 

input[type=text], select, textarea {
    width: 100%; 
    padding: 12px;  
    border: 1px solid #F2BB36; 
    border-radius: 20px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical 
}

input[type=email], select, textarea {
    width: 100%; 
    padding: 12px;  
    border: 1px solid #F2BB36; 
    border-radius: 20px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical 
}
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #d99b27;
    font-family: "chippewa-falls";
    font-weight: 500;
    font-size: 35px;
    color: aliceblue;
    padding: 12px 40px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #212B51;
  }
  
  /* Add a background color and some padding around the form */
  .container {
    border-radius: 20px;
    background-color: #F2BB36;
    padding: 20px;
    width: 30%;
    position: absolute;
    right: 50px;
  }

/*.greetings {
    font-size: 90px;
    color: #F2BB36;
    margin: 0;
}

.title {
    text-align: center;
    font-size: 80px;
    color: #F2BB36;
    padding: 90px;
}

.hero {
    text-align: center;
    align-content: center;
    padding: 300px;
}

.hero p {
    padding: 0;
    margin: 5px;
    font-size: 35px;
    color: aliceblue;
}

.hero h6 {
    font-family: "chippewa-falls";
    padding: 0;
    margin: 5px;
    font-size: 35px;
    font-weight: 500;
    color: aliceblue;
}

.section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 0px;
    margin: 40px;
    } */

.image-left{ 
    width: 50%;
}
.image-right{ 
    width: 50%;
}
.text-right { 
    width: 50%;
} 
.text-left { 
    width: 50%;
} 

/* .text {
    margin: 40px;
}
.text a {
    text-align: right;
}
.portfolio {
    text-align: center;
    margin: 100px;
}

.button {
    font-family: "chippewa-falls";
    font-weight: 500;
    font-size: 40px;
    line-height: 40px; 
    padding: 10px 20px 15px 20px;
    border-radius: 47px; 
    color: aliceblue;
    background: #E69709;
    text-decoration: none; 
    display: inline-block;
}

.button:hover {
    color: aliceblue;
    background: #0d1531;
}

.container {
    width: 0%;
    border-radius: 5px;
    background: #F2BB36;
    padding: 20px;
}

.portfolio_grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 0px;
    align-items: center;    
    }
    
    .cards-1 { grid-area: 1 / 1 / 2 / 2; }
    .cards-2 { grid-area: 1 / 2 / 2 / 3; }
    .cards-3 { grid-area: 1 / 3 / 2 / 4; }


.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 230px;
    border-radius: 20px;
    background-color: #F2BB36;
}
  
  .rectangle {
    border-radius: 15px 15px 0 0;
    margin: 15px;
    height: 250px;
    background-color:aliceblue;
  }
  
  .container {
    height: 90px;
  }

  .container h4 {
    font-family: "chippewa-falls";
    background-color: #F2BB36;
    color: #212B51;
  } */